<!-- file: views/requests_form.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1><h1>Welcome to ACMO: Request the host for your Booking</h1></h1>
    <link rel="stylesheet" href="/style.css">
</head>
  <body>
    <div>
        Please fill your request belows:
    <h1>Request to book <%= @listing.name %></h1>
    <form action="/listings/<%= @listing.id %>/requests" method="post"><!-- replace @listing.id -->
    <label for="from_date">From:</label>
    <input type="date" id="from_date" name="from_date">

    <label for="to_date">To:</label>
    <input type="date" id="to_date" name="to_date">

    <input type="submit" value="Submit Request">
    </form>
    <br>
    <br>
    <!-- Button back to listings page -->
    <form action="/listings"" method="get">
        <button type="submit">Return to Listings</button>
    </form>
    <br>
    <br>
    </div>    
  </body>
</html>
